/* Estilo de Menu*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 50px;
    background: rgb(63, 63, 160);
    position: fixed;
}

.Menu{
    width: 100%;
    height: 50px;
    display: flex;
    perspective: 200px;
    color:white;
}
.Menu ul{
    display: flex;
    margin: auto;
}

.Menu li{
    list-style: none;
    padding: 15px 20px;
}
.Menu li:hover{
    background: lightseagreen;
    color: white;
    cursor: pointer;
    transition: all 300ms;
}

.Menu ul li ul{
   display : none;
   flex-direction: column;
    position:absolute;
    margin-top: 15px;
    transform: rotateY(240deg) scale(0);
    transition: all 1s;
    box-shadow: 1px 1px 10px 0px black;
}
/*
.Menu ul li:hover > ul{
    transform: rotateY(0deg) scale(1);
    transition: all 1s;
}
.Menu ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px  solid transparent;
    border-bottom: 8px solid darkgreen;
    position: absolute;
    margin-top: -8px;
    margin-left: 20px;
}
.Menu ul li ul li ul li{
    position: relative;

}
.Menu ul li ul li ul li:hover>ul{
    transform: rotateY(0deg) scale(1)

}

.Menu ul li ul li ul{
    right: -90px;
    top: 36px;
    background: darkorange;
}
.Menu ul li ul li ul::before{
    border-bottom: 8px solid darkorange;
    position: absolute;
    margin-top: 18px;
    margin-left: -14px;
    transform: rotate(-90deg);
}*/
.Menu ul li a{
    color: white;
}

/*Estilo del Body*/

body{
    background-color: white;
    margin: 5px;
    padding: 0px;
}
h2{
    color: darkblue;
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 10px;

}
.imageninicio{
    display: flex;
   /* flex-direction: row-reverse;
    justify-content: flex-end;*/
    align-items: center;
    padding: 0%;
    margin: 10px;
}
.Imagenes{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 0%;
}

h3{
    margin: 20px;
}


/* arreglos de comentarios*/
body{
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
}
.author{
    font-weight: bold;
}
.comment-container{
    margin-top: 20px;
}
.comment{
    background-color: #c3c2c97a;
    border:1px solid #050508;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3em;
    width: 600px;
    margin: 5px;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    margin-right: 10px;
}
.star i{
    margin-right: 1px;    
}
form{
    width: 400px;
    padding: 2em;
    border: 1px solid rgb(4, 3, 19);
    border-radius: 5em;
    background-color: rgba(181, 180, 189, 0.534);
}
form div + div{
    margin-top: 1em;
}
label{
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea{
    font: 1em sans-serif;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid rgb(122, 108, 201);
}
input:focus, textarea:focus{
    border-color: #000;
}

textarea{
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
.button{
    padding-left: 90px;
    margin-left: .5em;
}

/*GALERIA*/
.galeria{
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria li{
    margin: 5px;
}
.galeria img{
    width: 300px;
    height: 250px;
}
.modal{
    display: none;
}
.modal:target{
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal h3{
    text-align: center;
    margin:15px;
    color: white;
}
.imagen{
    width: 100%;
    height: 85%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    flex-shrink: 2;
}
.imagen a:nth-child(2){
    margin: 0;
    height: 100%;

}
.imagen img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: 7px solid white;
    box-sizing: border-box;
}
.cerrar{
    display: block;
    background: white;
    width: 25px;
    height: 25px;
    margin:15px auto;
    text-align: center;
    font-size: 25px;
    color: black;
    padding: 5px;
    border-radius: 50px;
    text-decoration: none;
    line-height: 15px;  
}



